{% extends "layout.html" %}
{% block body %}

<div class="row">
    
    <div class="col-lg-12">
        <h1>Servicio de Autenticación y Autorización</h1>
        <hr>
    </div>
    
    <div class="col-lg-12">
        
        <div class="col-lg-12">
            <div class="list-group">
                
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Descripción</h4>
                <p class="list-group-item-text">
                    Este servicio contempla la gestión de cuentas de usuarios. Asignación de permisos por medio de grupos o "entitlements". Adicionalmente se provee autenticación de dos factores (2FA).
                </p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Clasificación del Servicio</h4>
                <p class="list-group-item-text text-success">
                    SOFTWARE Y HARDWARE
                </p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Disponibilidad</h4>
                <p class="list-group-item-text">
                    Este servicio está disponible 7 días a la semana durante las 24 horas del día.
                </p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Disponibilidad Meta</h4>
                <p class="list-group-item-text">
                  99.99% de disponibilidad, 7 días a la semana durante las 24 horas al día.
                </p>
              </a>
             
                
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Respaldo</h4>
                <p class="list-group-item-text">
                  Se realizan respaldos incrementales todos los días durante la noche. Una vez a la semana se realizan respaldos completos de las bases de datos y 
                  se almacenan en cintas magnéticas. Los sistemas cuentan con redundancia.
                </p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Representantes del Servicio</h4>
                <p class="list-group-item-text">Equipo de desarrollo web.</p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Importancia</h4>
                <p class="list-group-item-text">Este servicio se considera de tipo 'core' o 'crítico' ya que ofrece las funcionalidades
                    de seguridad necesarias en cuanto a acceso para toda aplicación web.</p>
              </a>

                <a href="{{ url_for('sla_1') }}" class="list-group-item">
                <h4 class="list-group-item-heading">Acuerdo de Nivel de Servicio</h4>
                <p class="list-group-item-text">

                </p>
              </a>
              
            </div>
        </div>
        
    </div>
    <!-- COL ENDS -->

</div>

{% endblock %}