{% extends "layout.html" %}
{% block body %}


<div class="row">

    <div class="col-lg-12">

        <h1>Plan de Capacidad</h1>
        <hr>
        <div class="col-lg-12">
            <div class="list-group">

              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Introducción</h4>
                <p class="list-group-item-text">
                    El modelo de negocio está basado en ayudar a sus clientes a concentrar sus recursos en procesos y funciones fundamentales para el corazón del negocio.
                    La empresa abastece a sus clientes de infraestructura informática evitándose así grandes desembolsos en equipamiento, personal, conocimientos, así como en otros aspectos relevantes de ámbito tecnológico.
                    Esto con el fin de poner en práctica los diferentes métodos cualitativos de investigación que se pueden aplicar como entrevistas, reuniones y debates con usuarios y expertos.
                </p>
              </a>

                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Sumario para Gerencias</h4>
                <p class="list-group-item-text">
                </p>
                    Las sugerencias propuestas se pueden resumir en las siguientes:
                    <ul>
                        <li>Crear un Plan de Capacidad para clientes.</li>
                        <li>Utilizar la información generada con mayor eficiencia para generar pronósticos.</li>
                        <li>Desarrollar un servicio detallado de catálogo con los requisitos de capacidad específicos de cada servicio..</li>
                        <li>Proyectar los efectos de los cambios de capacidad de antemano.</li>
                        <li>Hacer diagramas más precisos de las necesidades de capacidad de los clientes.</li>
                    </ul>
                </a>

                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Resumen del Servicio</h4>
                <p class="list-group-item-text">
                    Los nuevos objetivos de esta organización van dirigidos hacia la expansión y servicio, al implementar la Gestión de la Capacidad se proveerá a la empresa de previsión y planes de capacidad que permitirán crecer y prosperar en el mercado de la tecnología.
                    Es muy importante que la empresa adopte este proceso con el fin de menguar el impacto de futuros incidentes que perjudiquen la calidad del servicio.
                </p>
                </a>

                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Recomendación de Inversiones</h4>
                <p class="list-group-item-text">
                    Se hicieron una serie de sugerencias y se modificó el proceso de gestión de la capacidad.
                    Dicho proceso, junto con las sugerencias van deben ser implantados en la empresa. Como línea de trabajo futura, queda analizar el funcionamiento de esta propuesta de mejora y del nuevo proceso, así como establecer medidas de mejora del nuevo proceso y acciones correctivas en caso de ser necesarias.
                </p>
                 </a>

                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Descripción del plan</h4>
                <p class="list-group-item-text">
                    Se ofrece un almacenamiento de hasta 10T para empresas con un plan básico. Este puede ser incrementado hasta 20T o más dependiendo del contrato que se posea.
                    El almacenamiento posee respaldos incrementales diarios y completos semanales para asegurar la disponibilidad de los datos y recuperación de desastres. Se planea que la perdida de datos no sea mayor a 1 día.
                    La disponibilidad ofrecida es de un 99.997% al año.
                </p>
                 </a>

                 <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Capacidades disponibles</h4>
                <p class="list-group-item-text">
                     Almacenamiento personal
                    <ul>
                     <li>
                         15GB disponible
                     </li>
                     <li>
                         250GB disponible
                     </li>
                       <li>
                         1TB disponible
                     </li>
                 </ul>

                     Almacenamiento empresarial
                    <ul>
                     <li>
                         500GB disponible
                     </li>
                     <li>
                         10TB disponible
                     </li>
                       <li>
                         20TB disponible
                     </li>
                 </ul>

                </p>
                </a>



            </div>
        </div>

    </div>

</div>

{% endblock %}