{% extends "layout.html" %}
{% block body %}

<div class="row">

    <div class="col-lg-12">
        <h1> Plan de Gestión de Cambios </h1>
        <hr>
    </div>
  
    <div class="col-lg-12 well well-sm">
        <h2> Justificación del Plan de Control de Cambios </h2>
        <p class=text-justify>
            Para garantizar que los servicios prestados se mantengan disponibles, funcinoales y correctos con el pasar del tiempo, es de suma
            importancia definir un proceso que permita gestionar la forma como se llevan a cabo cambios en los servicios de manera que se 
            pueda garantizar el menos impacto en la prestación de servicios y la continuidad de negocio. 
            <br>
            El plan de gestión de cambios define una serie de documentos que permiten reunir la información necesaria para poder llevar acabo
            los cambios en un proyecto desde que este inicia.
        </p>
    </div>

    <div class="col-lg-12 well well-sm">
        <h2> Definición de Cambio </h2>
        <p class=text-justify>
            Para efectos de este documento, se define como cambio a toda adición, modificación o eliminación de un item de configuración, servicio, 
            componente de servicio y/o cualquiera de sus elementos asociados. 
        </p>
    </div>
      
    <div class="col-lg-12 well well-sm">
        <h2> Proceso de Control de Cambios </h2>
        <p class=text-justify>
           El proceso de gestión de cambios cuenta con los siguiente sub-procesos:
           <br>
        </p>
        
        <div class="list-group">
            <a href="#" class="list-group-item active">
            Sub-Procesos
            </a>
            
            <a href="#" class="list-group-item">
                1 - Registro de Solicitud de Cambio
            </a>
            
            <a href="#" class="list-group-item">
                2 - Revisión de Solicitud de Cambio
            </a>
            
            <a href="#" class="list-group-item">
                3 - Evaluación de cambios y planificación
            </a>
            
            <a href="#" class="list-group-item">
                4 - Aprobación de cambios
            </a>
            
            <a href="#" class="list-group-item">
                5 - Coordinación para la implementación de cambios
            </a>
            
            <a href="#" class="list-group-item">
                6 - Evaluación de cambios y cierre
            </a>
            
            <a href="#" class="list-group-item">
                2 - Manejo de cambios de emergencia
            </a>
            
        </div>
        
    </div>
    
  
</div>

{% endblock %}