{% extends "layout.html" %}
{% block body %}

<div class="row">
    
    <div class="col-lg-12">
        <h1>Acuerdo de Nivel de Servicio - Creación de Virtual Hosts</h1>
        <hr>
    </div>
    
    <div class="col-lg-12">
        
        <div class="col-lg-12">
            <div class="list-group">
                
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Nombre del Servicio</h4>
                <p class="list-group-item-text">

                </p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Definiciones</h4>
                <p class="list-group-item-text text-success">

                </p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Abreviaciones</h4>
                <p class="list-group-item-text">

                </p>
              </a>
              
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Descripción del servicio</h4>
                <p class="list-group-item-text">

                </p>
              </a>
             
                
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Comunicación</h4>
                <p class="list-group-item-text">
                    La comunicación entre el cliente y el soporte de KA estará disponible en los siguientes horarios:
                  <ul>
                      <li>
                        Lunes a Viernes de 8:00 A.M. a 8 P.M.
                      </li>
                     <li>
                        Sábados de 8:00 A.M. a 1 P.M.
                      </li>
                    </ul>
                </p>
              </a>

              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Estimados</h4>
                <p class="list-group-item-text">
                    KA le dará el cliente un estimado inicial de su solución web el cual puede variar al final del mismo. El estimado es usualmente usado cuando el precio fijo de una solución no se puede calcular razonablemente o hay posibilidad de cambios en el proceso de creación de la solución.
                </p>
              </a>

              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Precios fijos</h4>
                <p class="list-group-item-text">
                    <ul>
                      <li>
                        De ser posible KA siempre le dará al cliente el precio fijo de la solución web.
                      </li>
                     <li>
                        Cambios agregados a la especificación que se encuentra en un precio fijo serán tratados como variaciones.
                      </li>
                     <li>
                        Peticiones adicionales que no están detallados en el precio original, ni descritos en el contrato serán valorados y agregado al precio final de la solución web.
                      </li>
                    </ul>
                </p>
              </a>

              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Variaciones</h4>
                <p class="list-group-item-text">
                    <ul>
                      <li>
                       Peticiones adicionales que no están detallados en el precio original, ni descritos en el contrato serán valorados y agregado al precio final de la solución web.
                      </li>
                    </ul>
                </p>
              </a>

              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Propiedad Intelectual</h4>
                <p class="list-group-item-text">
                   <ul>
                      <li>
                        El código fuente de la solución web pertenecen a la propiedad intelectual de KA y no podrán ser copiados ni usados por otros miembros sin el consentimiento de KA.
                      </li>
                     <li>
                        Todos los logos, isotipos, eslogan y otros elementos únicos aportados por el cliente, son propiedad intelectual del cliente. KA no tiene permiso de reutilizar ninguno de estos elementos sin consentimiento del cliente.
                      </li>
                     <li>
                        Todos los scripts,styles sheets y cualquier otro archivo usado en la solución web del cliente pertenecen a la propiedad intelectual de KA y no podrán sar copiados ni usados por otros miembros sin el consentimiento de KA.
                      </li>
                     <li>
                        Todas las consultas, funciones / procedimientos almacenados, triggers y demás elementos programados en alguna base de datos SQL / NoSQL pertenecen a la propiedad intelectual de KA y no podrán sar copiados ni usados por otros miembros sin el consentimiento de KA.
                      </li>
                    </ul>
                </p>
              </a>

             <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Pagos y Facturación</h4>
                <p class="list-group-item-text">
                     <ul>
                      <li>
                        Se espera que el cliente haga su pago 7 días desde la fecha en la que recibió su factura.
                      </li>
                     <li>
                        KA se encargará de definir las fechas de facturación y pago dependiendo del tamaño de la solución web.
                      </li>
                    </ul>
                </p>
              </a>

               <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Rendimiento</h4>
                <p class="list-group-item-text">
                    <ul>
                      <li>
                        El rendimiento se espera que sea el deseado por parte del cliente. KA revisará todas las especificaciones dado por el mismo para así cumplirlas correctamente.
                      </li>
                     <li>
                        En caso de que alguna especificación no sea cumplida, el cliente puede reportarla mediante la via de comunicación descrita en la clausula 6, y KA se encargará de la debida correción.
                      </li>
                      <li>
                        Todos los reportes deben estar dentro del marco especificado por el cliente, de lo contrario se tratará como una variación y se cobrará lo correspondiente.
                      </li>
                    </ul>
                </p>
              </a>

                <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Terminación</h4>
                <p class="list-group-item-text">

                </p>
              </a>
              
            </div>
        </div>
        
    </div>
    <!-- COL ENDS -->

</div>

{% endblock %}