{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1>Caso: Northern Lincolnshire and Goole NHS Foundation Trust</h1>
        
        <hr>
        
        <h3>Antecedentes:</h3>
        <ul class="text-justify">
            <li>
                Una cadena de Hospitales en Inglaterra, conocido como el Northern Lincolnshire and Goole NHS Foundation Trust.
            </li>
            <li>
                No cuentan con documentación de plan de continuidad, inclusive, aunque existiera, el personal de los Hospitales 
                desconocen sobre los planes de continuidad de negocio y el personal del Departamento de TI no saben si tienen
                Plan de Recuperación de Desastres, además en una auditoría pasada se determinó que existen debilidades a nivel
                de seguridad informática
            </li>
        </ul>
        
        <hr>
        
        <h3>Preguntas del Caso:</h3>
        <ul class="text-justify">
            <li>
                Identificar | EVENTO | RIESGO | PROBABILIDAD | IMPACTO | PRIORIDAD |
            </li>
            <li>
                ¿Considera usted que fue oportuno que se realizara el comunicado por parte de la Dra. Karen Dunderdale hasta el día siguiente del incidente? Justifique su respuesta.
            </li>
            <li>
                ¿Considera usted que la imagen del conglomerado de los hospitales está siendo afectada?  Siendo 5 como muy alto y 1 como muy bajo, ¿qué nivel de criticidad le asignaría a la afectación de la imagen? Justifique su respuesta.
            </li>
            <li>
                Además del impacto de imagen, ¿cuál otro tipo de impacto incurrió el conglomerado de hospitales?
            </li>
        </ul>
        <strong>
            Después del incidente de Continuidad de TI: Retorno a la operativa normal
        </strong>
        <ul>
            <li>
                ¿Cuál es su opinión de que el NLAG no quiera brindar detalles de lo sucedido, considera que han tomado una decisión correcta o puede generar especulación ante los medios de comunicaciones y pacientes? Justifique su respuesta.
            </li>
            <li>
                Con base en el caso, ¿cuál considera usted que fue la causa raíz que originó el incidente?
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h1>Identificación de Eventos y Riesgos</h1>
        <hr>
        
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Column heading</th>
              <th>Column heading</th>
              <th>Column heading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
        
          </tbody>
        </table>
        
    </div>
</div>




{% endblock %}