{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1>Caso: Northern Lincolnshire and Goole NHS Foundation Trust</h1>
        
        <hr>
        
        <h3>Antecedentes:</h3>
        <ul class="text-justify">
            <li>
                Una cadena de Hospitales en Inglaterra, conocido como el Northern Lincolnshire and Goole NHS Foundation Trust.
            </li>
            <li>
                No cuentan con documentación de plan de continuidad, inclusive, aunque existiera, el personal de los Hospitales 
                desconocen sobre los planes de continuidad de negocio y el personal del Departamento de TI no saben si tienen
                Plan de Recuperación de Desastres, además en una auditoría pasada se determinó que existen debilidades a nivel
                de seguridad informática
            </li>
        </ul>
        
        <hr>
    </div>
</div>


<div class="row">
    
    
    <h1>Respuestas</h1>
    <hr/>
    <h3>Incidente de continuidad</h3>
    
    <!-- BEGIN RISK TABLE -->
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                Tabla de Eventos y Riesgos
            </h3>
          </div>
          <div class="panel-body">
            
            <table class="table table-striped table-hover ">
              <thead>
                  
                <tr>
                  <th>Evento</th>
                  <th>Riesgo</th>
                  <th>Probabilidad</th>
                  <th>Impacto</th>
                  <th>Prioridad</th>
                </tr>
                
              </thead>
              <tbody>
                  
                <tr>
                  <td>
                      <strong class="text-warning">Infección de Virus Informático</strong>
                  </td>
                  <td>
                      Puede afectar el funcionamiento correcto de los sistemas de información. Algunos sistemas de información que son críticos para el negocio
                      podrían dejar de funcionar y como consecuencia impactar la continuidad del negocio. 
                  </td>
                  <td>
                      Baja, ya que se han tomado precauciones por el ataque.  
                  </td>
                  <td>
                      Imágen del Conglomerado. 
                      Sistemas de información en general y datos almacenador. Servicios como el procesamiento de análisis de sangre y disponibilidad de sangre para transfusiones se verían 
                      impactados fuertemente y no podrían operar. Personas podrían no recibir análisis de sangre críticos o transfusionees a tiempo. 
                  </td>
                  <td>
                      1
                  </td>
                </tr>
                
                <tr>
                  <td>Infección de Virus Informático</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

              </tbody>
            </table> 
            
          </div>
        </div>
        <!-- PANEL ENDS -->
    </div>
    <!-- END RISK TABLE --> 
    
    
    
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              ¿Considera usted que fue oportuno que se realizara el comunicado por parte de la Dra. Karen Dunderdale hasta el día siguiente del incidente? Justifique su respuesta.
          </div>
          <div class="panel-body text-justify">
            En un negocio en el cual los servicios que se brindan están relacionados o afectan directamente la salud de personas e inclusive pueden ser determinantes en situaciones 
            de vida o mueerte, es de suma importancia actuar y comunicar de manera clara las situaciones lo antes posible. Esperar un día para comunicar una situación de emergencia
            podría ser demasiado tarde. Adicionalmente, entre más rápido comunique la situación, más rápido podría recibir ayuda para restablecer el servicio correctamente. 
          </div>
        </div>
    </div>
    
    
    
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              ¿Considera usted que la imagen del conglomerado de los hospitales está siendo afectada?  Siendo 5 como muy alto y 1 como muy bajo, ¿qué nivel de criticidad le asignaría a la afectación de la imagen? Justifique su respuesta.
          </div>
          <div class="panel-body text-justify">
              
              Ciertamente la imagen del conglomerado está siendo afectada debido a que al ser una entidad que provee servicios médicos, tiene que tratar con una de las cosas más 
              valiosas para los seres humanos que es la salud y la vida. La expectativa de los clientes en un servicio de este tipo, es que la empresa tenga las medidas necesarias
              para garantizar la continuidad del negocio, al esto no suceder y poner es riesgo la vida y salud de sus clientes, se afecta fuertemente la imágen de la empresa. 
              
                Nivel de criticidad - 5 'Muy Alto'. Un hospital es un lugar en el cual la gente confía para ser atentidos o asistido en caso de tener algún problema de salud y por lo que sus servicios deben ser 24/7 y no tener interrupciones, en el caso de haberlas,
                tener la capacidad de reponerse rápidamente.
                Sin embargo, al cancelar las operaciones por un ataque informático la confianza se pierde por el impacto que este tiene en el cliente. ¿Cómo pueden confiar su información a un hospital que no es seguro?
                
                ¿Cómo seguir utilizando los servicios de un hospital que no tiene plan de continuidad?
                Ya que el hospital no tomó ninguna acción para atender las citas críticas que fueron canceladas, la gente afectada busca otra forma de solucionar sus problemas, en este caso otro hospital, abandonando este y posiblemente especular/hablar mal del mismo
          </div>
        </div>
    </div>
    
    
    
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              Además del impacto de imagen, ¿cuál otro tipo de impacto incurrió el conglomerado de hospitales?
          </div>
          <div class="panel-body text-justify">
                <ul>
                    <li>
                        Hubo un impacto tecnológico porque los sistemas informáticos fueron atacados y no pudieron continuar funcionando ya que la solución involucraba detenerlos y aislarlos.
                        Esto lleva a un impacto operacional porque el servicio tiene que ser interrumpido. Y finalmente se ve impactada la reputación del hospital, se supone que
                        una institución que ofrezca un servicio de esta magnitud debería estar seguro contra este tipo de ataques. Y también tiene un impacto económico porque además de las posibles
                        sanciones que sufra el hospital, la interrupción del servicio significa pérdidas por falta de flujo de efectivo.
                    </li>
                    <li>
                        Hubo un impacto económico ya que detener los servicios también implica que no podían facturar durante los días que el servicio no estuvo disponible. 
                    </li>
                    <li>
                        Podría haber ocurrido un impacto legal si alguien hubiera tenido problemas de salud debido a la interrupción. Podrían haber recibido demandas.
                    </li>
                </ul>
                
          </div>
        </div>
    </div>

    <h3>Después del incidente de continuidad de TI: Retorno a la Operación Normal</h3>

    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              ¿Cuál es su opinión de que el NLAG no quiera brindar detalles de lo sucedido, considera que han tomado una decisión correcta o puede generar especulación ante los medios de comunicaciones y pacientes? Justifique su respuesta.
          </div>
          <div class="panel-body text-justify">
            Para una compañia que tiene mucha visibilidad como la expuesta en este caso, es de suma importancia manejar una comunicación transparente para poder demostrar que actúa
            de manera responsable. Al ocultar los detalles de lo sucedido, deja que la especulación y las explicaciones que no cuentan con fuentes confiables se puedan apoderar de 
            la imágen de la empresa. Adicionalmente, cuando una empresa realiza una operación de negocio que tiene afectación directa sobre la salud y la vida humana, tiene una 
            responsabilidad moral en asumir la responsabilidad de las consecuencias que se dan debido a una mala gestión. Esto también sustenta desde una perspectiva pública
          </div>
        </div>
    </div>
    
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              Con base en el caso, ¿cuál considera usted que fue la causa raíz que originó el incidente?
          </div>
          <div class="panel-body text-justify">
            La raíz fue no actuar o solucionar los problemas que se les mostró en una auditoría pasada, ya que fue ahí en donde
            se les mostró que tenían debilidades a nivel de seguridad informática. Aunque claro, esto no hubiera ocurrido teniendo personal con capacidad
            técnica más amplia en este tema que fuera capaz de configurar un nivel óptimo de seguridad informática. Sin embargo, si se hubiera tomado en cuenta la auditoría
            esto se hubiera podido evitar.
          </div>
        </div>
    </div>

    
</div>




{% endblock %}
