{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1>Caso: Northern Lincolnshire and Goole NHS Foundation Trust</h1>
        
        <hr>
        
        <h3>Antecedentes:</h3>
        <ul class="text-justify">
            <li>
                Una cadena de Hospitales en Inglaterra, conocido como el Northern Lincolnshire and Goole NHS Foundation Trust.
            </li>
            <li>
                No cuentan con documentación de plan de continuidad, inclusive, aunque existiera, el personal de los Hospitales 
                desconocen sobre los planes de continuidad de negocio y el personal del Departamento de TI no saben si tienen
                Plan de Recuperación de Desastres, además en una auditoría pasada se determinó que existen debilidades a nivel
                de seguridad informática
            </li>
        </ul>
        
        <hr>
        
        <h3>Preguntas del Caso:</h3>
        <ul class="text-justify">
            <li>
                Identificar | EVENTO | RIESGO | PROBABILIDAD | IMPACTO | PRIORIDAD |
            </li>
            <li>
                ¿Considera usted que fue oportuno que se realizara el comunicado por parte de la Dra. Karen Dunderdale hasta el día siguiente del incidente? Justifique su respuesta.
            </li>
            <li>
                ¿Considera usted que la imagen del conglomerado de los hospitales está siendo afectada?  Siendo 5 como muy alto y 1 como muy bajo, ¿qué nivel de criticidad le asignaría a la afectación de la imagen? Justifique su respuesta.
                Nivel de criticidad - 5 'Muy Alto'. Un hospital es un lugar en el cual la gente confía para ser atentidos o asistido en caso de tener algún problema de salud y por lo que sus servicios deben ser 24/7 y no tener interrupciones, en el caso de haberlas,
                tener la capacidad de reponerse rápidamente.
                Sin embargo, al cancelar las operaciones por un ataque informático la confianza se pierde por el impacto que este tiene en el cliente. ¿Cómo pueden confiar su información a un hospital que no es seguro?
                ¿Cómo seguir utilizando los servicios de un hospital que no tiene plan de continuidad?
                Ya que el hospital no tomó ninguna acción para atender las citas críticas que fueron canceladas, la gente afectada busca otra forma de solucionar sus problemas, en este caso otro hospital, abandonando este y posiblemente especular/hablar mal del mismo.
            </li>
            <li>
                Además del impacto de imagen, ¿cuál otro tipo de impacto incurrió el conglomerado de hospitales?
                Hubo un impacto tecnológico porque los sistemas informáticos fueron atacados y no pudieron continuar funcionando ya que la solución involucraba detenerlos y aislarlos.
                Esto lleva a un impacto operacional porque el servicio tiene que ser interrumpido. Y finalmente se ve impactada la reputación del hospital, se supone que
                una institución que ofrezca un servicio de esta magnitud debería estar seguro contra este tipo de ataques. Y también tiene un impacto económico porque además de las posibles
                sanciones que sufra el hospital, la interrupción del servicio significa pérdidas por falta de flujo de efectivo.
            </li>
        </ul>
        <strong>
            Después del incidente de Continuidad de TI: Retorno a la operativa normal
        </strong>
        <ul>
            <li>
                ¿Cuál es su opinión de que el NLAG no quiera brindar detalles de lo sucedido, considera que han tomado una decisión correcta o puede generar especulación ante los medios de comunicaciones y pacientes? Justifique su respuesta.
            </li>
            <li>
                Con base en el caso, ¿cuál considera usted que fue la causa raíz que originó el incidente?
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h1>Identificación de Eventos y Riesgos</h1>
        <hr>
        
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Column heading</th>
              <th>Column heading</th>
              <th>Column heading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
        
          </tbody>
        </table>
        
    </div>
</div>




{% endblock %}